<div class="win">
</div>
<div class="lose">
</div>
<div class="best">
   <div class="test">
    <div class="test__right">
    </div>
     <div class="test__left">
       <% @posts.each do |post| %>
         <div class="test__left--item">
       <%= link_to post.title, post_path(post.id) %>
     </div> 
     <% end %>
     <%= paginate(@posts) %>
     </div>      
 </div>

