<div class="best">
 <% @posts.each do |post| %>
   <div class="item">
    <div class="item__right">
    </div>
     <div class="item__left">
       <%= link_to post.title, post_path(post.id), class: "item__left--box" %>
     </div> 
   </div>
 <% end %>
 <%= paginate(@posts) %>
 </div>

