// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

.wrpper{
  background-image: url(https://cdn.pixabay.com/photo/2017/01/06/22/48/old-trafford-1959155_1280.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  .bottom{
    height: 200px;
    display: flex;
    padding: 0px 0px 40px 850px;
    justify-content: space-between;
    .box{
      background-color: black;
      height: 100px;
      width: 600px;
      display: flex;
      &__left{
       width: 200px;
       text-align: center;
      &--item{
        text-decoration: none;
        color: white;
        font-size: 25px;
        line-height: 100px;
        font-family: 'Teko', sans-serif;
      }
     }
     &__right{
       text-align: center;
       width: 200px;
    
       &--pic{
         text-decoration: none;
         color: white;
         line-height: 100px;
         font-size: 25px;  
         font-family: 'Teko', sans-serif;
       }
     }
     &__main{
       width: 200px;
     
       text-align: center;
      &--pege{
        text-decoration: none;
        color: white;
        line-height: 100px;
        font-size: 25px;
        font-family: 'Teko', sans-serif;
      }
     }
     &__show{
       width: 200px;
       text-align: center;
       &--top{
        text-decoration: none;
        color: white;
        line-height: 100px;
        font-size: 25px;
        font-family: 'Teko', sans-serif;
       }
     }
   }
   .title{
    
    display: flex;
    &__left{
     height: 100px;
     width: 200px;
     padding-left: 50px;
    &--item{
      text-decoration: none;
      color: white;
      font-size: 20px;
      font-family: 'Teko', sans-serif;
      line-height: 100px;
    }
   }
   &__right{
     width: 200px;
     height: 100px;
     padding-left: 50px;
     &--pic{
       text-decoration: none;
       color: white;
       line-height: 100px;
       font-size: 20px; 
       font-family: 'Teko', sans-serif;
     }
    }
   }
  }
.title{
  height: 300px;
  width: 700px;
  padding: 0px 0px 0px 100px;
  
  &__name{
    text-decoration: none;
    font-size: 70px;
    color: red;
    font-family: 'Bangers', cursive;
  }
.home{
  position: absolute;
  top: 270px;
  left: 200px;
  font-size: 40px;
  font-family: 'Teko', sans-serif;
  color: white;
  // /* フォントサイズなど任意指定 */
  // // font: bold 10em / 1 Verdana, Helvetica, Arial, sans-serif;
  // text-transform: uppercase;
  // /* 背景グラデーションを指定・幅を 200% にしておく */
  // background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
  // /* 背景画像を文字でマスクする */
  //         background-clip: text;
  // -webkit-background-clip: text;
  // /* 文字色を透明にできればよく color: transparent でも color: rgba(0, 0, 0, 0) でも可 */
  //         text-fill-color: transparent;
  // -webkit-text-fill-color: transparent;
  // /* アニメーション指定 */
  // animation: example 4s linear infinite;
}

// /* 背景の横位置をズラす */
// @keyframes example {
//   to { background-position-x: 200%; }

// }
}
}



.warpper{
  width: 100%;
  height: 100vh;
  
  .soccer{
    height: 100px;
    display: flex;
    background-color: black;
    // padding: 0px 0px 40px 850px;
    justify-content: space-between;
    .role{
      width: 50%;
      padding: 20px 0px 0px 40px;
      background-color: black;
      .form{
        &__top{
          width: 50%; /*親要素いっぱい広げる*/
          padding: 10px 15px; /*ボックスを大きくする*/
          font-size: 16px;
          border-radius: 3px; /*ボックス角の丸み*/
          border: 2px solid #ddd; /*枠線*/
          box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
        }
        &__send{
          display       : inline-block;
          border-radius : 12%;          /* 角丸       */
          font-size     : 18pt;        /* 文字サイズ */
          text-align    : center;      /* 文字位置   */
          cursor        : pointer;     /* カーソル   */
          padding       : 12px 12px;   /* 余白       */
          background    : #ff0000;     /* 背景色     */
          color         : #ffffff;     /* 文字色     */
          line-height   : 1em;         /* 1行の高さ  */
          transition    : .3s;         /* なめらか変化 */
          box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
          border        : 2px solid #ff0000;    /* 枠の指定 */
          position: absolute;
          left: 450px;
          top: 20px;
        }
       }
      }
    .point{
      background-color: black;
      height: 100px;
      width: 600px;
      display: flex;
      &__left{
       width: 200px;
       text-align: center;
      &--item{
        text-decoration: none;
        color: white;
        font-size: 25px;
        line-height: 100px;
        font-family: 'Teko', sans-serif;
      }
     }

     &__main{
       width: 200px;
       text-align: center;
      &--pege{
        text-decoration: none;
        color: white;
        line-height: 100px;
        font-size: 25px;
        font-family: 'Teko', sans-serif;
      }
     }
     &__show{
       width: 200px;
       text-align: center;
       &--top{
        text-decoration: none;
        color: white;
        line-height: 100px;
        font-size: 25px;
        font-family: 'Teko', sans-serif;
       }
    }

    }
  }
  .desk{
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    
    &__left{
      width: 200px;
      height: calc(100vh - 100px);
      background-color: red;
    }
    &__middle{
      height: calc(100vh - 100px);
      width: calc(100% - 400px);;
      background-image: url(ken.jpg);
      background-size: cover;
        .form{
          &__top{
            width: 100%; /*親要素いっぱい広げる*/
            padding: 10px 15px; /*ボックスを大きくする*/
            font-size: 16px;
            border-radius: 3px; /*ボックス角の丸み*/
            border: 2px solid #ddd; /*枠線*/
            box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
          }
          &__CF{
            position: absolute;
            top: 60vh;
            left: 65%;
            width: 150px;
            border: 2px solid red; 
            z-index: 10;
            outline: 0;
            
          }
          &__RWG{
            position: absolute;
            top: 85vh;
            left: 60%;
            width: 150px;
            border: 2px solid red; 
            z-index: 10;
            outline: 0;
          }
          &__LWG{
            position: absolute;
            top: 30vh;
            left: 60%;
            width: 150px;
            border: 2px solid red; 
            z-index: 10;
            outline: 0;
          }
          &__LCM{
            position: absolute;
            top: 40vh;
            left: 40%;
            width: 150px;
            border: 2px solid red; 
            z-index: 10;
            outline: 0;
          }
          &__RCM{
            position: absolute;
            top: 80vh;
            left: 40%;
            width: 150px;
            border: 2px solid red; 
            z-index: 10;
            outline: 0;
          }
          &__CDM{
            position: absolute;
            top: 60vh;
            left: 50%;
            width: 150px;
            border: 2px solid red; 
            z-index: 10;
            outline: 0;
          }
          &__LSB{
            position: absolute;
            top: 25vh;
            left: 30%;
            width: 150px;
            border: 2px solid red; 
            z-index: 10;
            outline: 0;
          }
          &__LCB{
            position: absolute;
            top: 45vh;
            left: 25%;
            width: 150px;
            border: 2px solid red; 
            z-index: 10;
            outline: 0;
          }

          &__RCB{
            position: absolute;
            top: 75vh;
            left: 25%;
            width: 150px;
            border: 2px solid red; 
            z-index: 10;
            outline: 0;
          }

          &__RSB{
            position: absolute;
            top: 90vh;
            right: 60%;
            width: 150px;
            border: 2px solid red; 
            z-index: 10;
            outline: 0;
          }

          &__GC{
            position: absolute;
            top: 60vh;
            left: 15%;
            width: 150px;
            border: 2px solid red; 
            z-index: 10;
            outline: 0;
          }
          &__send{
            display       : inline-block;
            border-radius : 12%;          /* 角丸       */
            font-size     : 18pt;        /* 文字サイズ */
            text-align    : center;      /* 文字位置   */
            cursor        : pointer;     /* カーソル   */
            padding       : 12px 12px;   /* 余白       */
            background    : #ff0000;     /* 背景色     */
            color         : #ffffff;     /* 文字色     */
            line-height   : 1em;         /* 1行の高さ  */
            transition    : .3s;         /* なめらか変化 */
            box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
            border        : 2px solid #ff0000;    /* 枠の指定 */
            position: absolute;
            left: 50px;
            top: 80px;
          }
        }
       }
    &__right{
     width: 200px;
     height: calc(100vh - 100px);
     background-color: red;
    }
      }
    }
  

select {

  /* styling */
  background-color: white;
  border: thin solid red;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select.form__CF {
  background-image:
  linear-gradient(45deg, transparent 50%, red 50%),
  linear-gradient(135deg, red 50%, transparent 50%),
  // radial-gradient(red 70%, transparent 72%)
  ;
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - .5em) .5em;
background-size:
  5px 5px,
  5px 5px,
  1.5em 1.5em;
background-repeat: no-repeat;
}
select.form__RWG {
  background-image:
  linear-gradient(45deg, transparent 50%, red 50%),
  linear-gradient(135deg, red 50%, transparent 50%),
  // radial-gradient(red 70%, transparent 72%)
  ;
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - .5em) .5em;
background-size:
  5px 5px,
  5px 5px,
  1.5em 1.5em;
background-repeat: no-repeat;
}
select.form__LWG {
  background-image:
  linear-gradient(45deg, transparent 50%, red 50%),
  linear-gradient(135deg, red 50%, transparent 50%),
  // radial-gradient(red 70%, transparent 72%)
  ;
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - .5em) .5em;
background-size:
  5px 5px,
  5px 5px,
  1.5em 1.5em;
background-repeat: no-repeat;
}
select.form__LCM {
  background-image:
  linear-gradient(45deg, transparent 50%, red 50%),
  linear-gradient(135deg, red 50%, transparent 50%),
  // radial-gradient(red 70%, transparent 72%)
  ;
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - .5em) .5em;
background-size:
  5px 5px,
  5px 5px,
  1.5em 1.5em;
background-repeat: no-repeat;
}
select.form__RCM {
  background-image:
  linear-gradient(45deg, transparent 50%, red 50%),
  linear-gradient(135deg, red 50%, transparent 50%),
  // radial-gradient(red 70%, transparent 72%)
  ;
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - .5em) .5em;
background-size:
  5px 5px,
  5px 5px,
  1.5em 1.5em;
background-repeat: no-repeat;
}
select.form__CDM {
  background-image:
  linear-gradient(45deg, transparent 50%, red 50%),
  linear-gradient(135deg, red 50%, transparent 50%),
  // radial-gradient(red 70%, transparent 72%)
  ;
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - .5em) .5em;
background-size:
  5px 5px,
  5px 5px,
  1.5em 1.5em;
background-repeat: no-repeat;
}
select.form__LSB {
  background-image:
  linear-gradient(45deg, transparent 50%, red 50%),
  linear-gradient(135deg, red 50%, transparent 50%),
  // radial-gradient(red 70%, transparent 72%)
  ;
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - .5em) .5em;
background-size:
  5px 5px,
  5px 5px,
  1.5em 1.5em;
background-repeat: no-repeat;
}
select.form__LCB {
  background-image:
  linear-gradient(45deg, transparent 50%, red 50%),
  linear-gradient(135deg, red 50%, transparent 50%),
  // radial-gradient(red 70%, transparent 72%)
  ;
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - .5em) .5em;
background-size:
  5px 5px,
  5px 5px,
  1.5em 1.5em;
background-repeat: no-repeat;
}
select.form__RCB{
  background-image:
  linear-gradient(45deg, transparent 50%, red 50%),
  linear-gradient(135deg, red 50%, transparent 50%),
  // radial-gradient(red 70%, transparent 72%)
  ;
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - .5em) .5em;
background-size:
  5px 5px,
  5px 5px,
  1.5em 1.5em;
background-repeat: no-repeat;
}
select.form__RSB {
  background-image:
  linear-gradient(45deg, transparent 50%, red 50%),
  linear-gradient(135deg, red 50%, transparent 50%),
  // radial-gradient(red 70%, transparent 72%)
  ;
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - .5em) .5em;
background-size:
  5px 5px,
  5px 5px,
  1.5em 1.5em;
background-repeat: no-repeat;
}
select.form__GCGC {
  background-image:
  linear-gradient(45deg, transparent 50%, red 50%),
  linear-gradient(135deg, red 50%, transparent 50%),
  // radial-gradient(red 70%, transparent 72%)
  ;
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - .5em) .5em;
background-size:
  5px 5px,
  5px 5px,
  1.5em 1.5em;
background-repeat: no-repeat;
}