// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}
.contens{
  width: 100%;
  height: 100vh;
  background-color: red;
  &__header{
    width: 100%;
    height: 120px;
    background-color: blue;
  }
  &__main{
    width: 100%;
    height: calc(100vh - 120px);
    background-color: #f6f6f6f6;
    padding: 90px 290px ;
    .title-list{
      background-color: white;
      height: 500px;
      width: 850px;
      
      &__top{
        width: 850px;
        height: 80px;
        background-color: red;
        text-align: center;
        font-size: 30px;
        vertical-align: middle;
        line-height: 80px;
      }
      &__bottom{
         width: 850px;
         height: 420px;
         background-color: white;
         padding: 60px 70px 60px 70px;
         overflow: scroll;
        &--item{
          background-color: white;
          border: solid 1px;
          height: 70px;
          width: 700px;
          font-size: 25px;
          padding-left: 150px;
          line-height: 70px;
        }
        a{
          text-decoration: none;
        }
      }
    }
  }
}