// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

.wrpper{
  overflow: scroll;
 
  background-image: url(https://images.unsplash.com/photo-1575361204480-aadea25e6e68?ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80);
  background-size: auto;
  height: 100vh;
  width: 100%;
  .header{
  width: 100%;
  height: 200px;
  position: fixed;
  
  .top{
    height: 75px;
    background-color: #da4302;
  }
  .bottom{
    height: 125px;
    background-color: #a0cc78;
    display: flex;
    padding: 40px 60px 40px 40px;
    justify-content: space-between;
    .title{
     
     height: 50px;
     width: 200px;
     line-height: 50px;
      &__name{
       text-decoration: none;
       color: white;
       font-size: 30px;
       

      }
    }
    .box{
      
      display: flex;
      &__left{
       
       height: 50px;
      &--item{
        text-decoration: none;
        color: white;
        font-size: 20px;
        margin-right: 150px;
        line-height: 50px;
      }
     }
     &__right{
       
       height: 50px;
       &--pic{
         text-decoration: none;
         color: white;
         line-height: 50px;
         font-size: 20px;  
       }
     }
   }
   .title{
    
    display: flex;
    &__left{
    
     height: 50px;
    &--item{
      text-decoration: none;
      color: white;
      font-size: 20px;
      margin-right: 150px;
      line-height: 50px;
    }
   }
   &__right{
     
     height: 50px;
     &--pic{
       text-decoration: none;
       color: white;
       line-height: 50px;
       font-size: 20px;  
     }
    }
   }
  }
}
 .main{
 
   width: 100%;
   display: flex;
   padding-top: 50px;
   
   &__right{
   }
   &__left{
     width: 30%;
     height: 50px;
     text-align: center;
     
     
     &--item{
      text-decoration: none;
      font-size: 20px;
      padding: 0.5em 1em;
      margin: 1em 0;
      background: #f4f4f4;
      border-left: solid 6px #5bb7ae;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
      
     }
   }
 }
}
a{
 
}


.warpper{
  width: 100%;
  height: 100vh;
  background-image: url(https://www.photolibrary.jp/mhd4/img244/450-20120307162752178443.jpg) ;
  background-size: cover;
.form{
  &__top{

  }
  &__CF{
    position: absolute;
    top: 15vh;
    left: 44%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
  }
  &__RWG{
    position: absolute;
    top: 25vh;
    left: 27%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
  }
  &__LWG{
    position: absolute;
    top: 25vh;
    right: 27%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
  }
  &__LCM{
    position: absolute;
    top: 45vh;
    left: 27%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
  }
  &__RCM{
    position: absolute;
    top: 45vh;
    right: 27%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
  }
  &__CDM{
    position: absolute;
    top: 55vh;
    left: 44%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
  }
  &__LSB{
    position: absolute;
    top: 70vh;
    left: 23%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
  }
  &__LCB{
    position: absolute;
    top: 85vh;
    left: 30%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
  }

  &__RCB{
    position: absolute;
    top: 85vh;
    right: 30%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
  }

  &__RSB{
    position: absolute;
    top: 70vh;
    right: 23%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
  }

  &__GC{
    position: absolute;
    top: 93vh;
    left: 45%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
  }
}
  .goal{
    &__AA{
    position: absolute;
    top: 15vh;
    left: 45%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
    text-align: center;
    }
    &__BB{
      position: absolute;
    top: 25vh;
    left: 27%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
    text-align: center;
    }
    &__CC{
      position: absolute;
      top: 25vh;
      right: 27%;
      width: 150px;
      border: 2px solid #ff9900; 
      z-index: 10;
      outline: 0;
      text-align: center;
    }
    &__DD{
      position: absolute;
      top: 45vh;
      left: 27%;
      width: 150px;
      border: 2px solid #ff9900; 
      z-index: 10;
      outline: 0;
      text-align: center;
    }
    &__EE{
      position: absolute;
      top: 45vh;
      right: 27%;
      width: 150px;
      border: 2px solid #ff9900; 
      z-index: 10;
      outline: 0;
      text-align: center;
    }
    &__FF{
      position: absolute;
      top: 55vh;
      left: 44%;
      width: 150px;
      border: 2px solid #ff9900; 
      z-index: 10;
      outline: 0;
      text-align: center;
    }
    &__GG{
      position: absolute;
      top: 70vh;
      left: 23%;
      width: 150px;
      border: 2px solid #ff9900; 
      z-index: 10;
      outline: 0;
      text-align: center;
    }
    &__HH{
      position: absolute;
    top: 85vh;
    left: 30%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
    text-align: center;
    }
    &__II{
    position: absolute;
    top: 85vh;
    right: 30%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
    text-align: center;
  }
   &__KK{
    position: absolute;
    top: 70vh;
    right: 23%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
    text-align: center;
   }
   &__LL{
    position: absolute;
    top: 93vh;
    left: 45%;
    width: 150px;
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
    text-align: center;
   }
  }
}