* {
  box-sizing: border-box;
}
.go{
  background-image: url(tarou.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
.win{
  display: flex;
  padding: 0px 0px 0px 870px;
  justify-content: space-between;
  background-color: black;
  .post{
    background-color: black;
    height: 100px;
    width: 600px;
    display: flex;
    &__left{ 
      width: 200px;
      text-align: center;
     &--item{
       text-decoration: none;
       color: white;
       font-size: 25px;
       line-height: 100px;
       font-family: 'Teko', sans-serif;
     }
    }
    &__main{
      width: 200px;
    
      text-align: center;
     &--pege{
       text-decoration: none;
       color: white;
       line-height: 100px;
       font-size: 25px;
       font-family: 'Teko', sans-serif;
     }
    }
    &__show{
      width: 200px;
      text-align: center;
      &--top{
       text-decoration: none;
       color: white;
       line-height: 100px;
       font-size: 25px;
       font-family: 'Teko', sans-serif;
      }
    }
  }
}
.best{
  width: 100%;
  height: calc(100vh - 100px);
  // padding: 50px 270px ;
  display: flex;
  .yoro{
    height: calc(100vh - 100px);
    width: 200px;
    background-color: red;
  }
  .test{
    height: calc(100vh - 100px);
    width: calc(100% - 100px);
    &__right{
      height: 40px;
      text-align: center;
      padding-top: 80px
      // &--main{
      //   font-size: 15px;
      //   color: white;
      // }
    }  
    &__left{
      // width: calc(100% - 400px);
      // height: calc(100vh - 100px);
      padding-top: 80px;
   
      &--item{
        position: relative;
        margin: 3em auto;
        padding: 1.2em 1em 1em;
        width: 50%;
        background-color: #fff; /*BOX背景色 */
        border: 2px solid red; /* 枠線の太さ・色 */
        box-shadow: 2px 2px 2px #ccc; 
        .title-tab2 {
          position: absolute;
          display: inline-block;
          top: -28px; /*タブ調整 */
          left: -2px; /*タブ調整 */
          padding: 1px 10px;
          height: 26px;
          font-weight: bold;
          color: #fff; /* タイトル色 */
          background-color: red; /* タイトル背景色 */
          border-radius: 8px 8px 0 0;
         }
      }
    }

  }
    .siku{
      height: calc(100vh - 100px);
      width: 200px;
      background-color: red;
    }
}
}
a{
  text-decoration: none;
  color: black;
}
.text__right--main{
  color: black;
  font-size: 30px;
}
